<h1>My Personal Garage</h1>
<section>
	<% if defined? @bicylces %>
  	<% @bicylces.each do |bicycle| %>
    	<article>
      	<section>
        	<h3><%= link_to bicycle.model, bicycle %></h3>
        
      	</section>
    	</article>
  	<% end %>
  <% end %>

  <%= link_to "Add your bicycle", new_bicycle_path %>
</section>
